.task{
    display: flex;
    align-items: center;
    width: 345px;
    justify-content: space-between;
    background-color: #a00882;
    color: rgb(222, 224, 225);
    height: 35px;
    padding: 2px 5px 2px 5px;
    margin-top: 2px;
    cursor: pointer;
}
.checkbox{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.linethrough{
    text-decoration: line-through;
}

.checkbox .icon{
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
}